#content {
    display: flex;
    background-image: url("../src/sample.png");
    height: 100vh;
}

main header {
    text-align: center;
}

.overview ul li {
    font-weight: bold;
}

td {
    font-weight: bold;
}