#content {
    display: flex;
    background-image: url("../src/sample.png");
}

main header {
    text-align: center;
}

#main_content {
    display: flex;
}

main #info {
    width: 30%;
}

main #info .user_info {
    list-style: none;
}

main #info .english_text {
    margin-top: 60px;
    width: 90%;
}

main #info .mail {
    margin-top: 30px;
}

main #info .address {
    margin-top: 30px;
}

#info img {
    height: 302px;
    width: 256px;
}

main #latest_infomation{
    width: 70%;
}

main #latest_infomation .infomation_text{
    text-align: center;
    padding: 120px 0px;
}

main #latest_infomation .winning {
    padding: 20px 0px;
}

main #latest_infomation .movie_infomation {
    margin-top: 40px;
    margin-left: 120px;
}

main #latest_infomation .movie {
    margin: 20px 0px;
}